<footer class="site-footer">
    <div class="footer-content">
  
      <div class="footer-col">
        <h5>LN Brenda Lagunas</h5>
        <p>Nutrición Integral, Salud Hormonal y Rendimiento Deportivo. Te acompaño en tu proceso hacia una vida equilibrada y saludable.</p>
      </div>
  
      <div class="footer-col">
        <h5>Enlaces Rápidos</h5>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/tienda">Tienda</a></li>
          <li><a routerLink="/agenda">Agendar Cita</a></li>
          <li><a routerLink="/recetas">Recetas</a></li>
          <li><a routerLink="/productos-recomendados">Recomendaciones</a></li>
          <li><a routerLink="/privacidad">Aviso de Privacidad</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h5>Contacto</h5>
        <p><i class="fa-brands fa-whatsapp"></i> WhatsApp: +52 1 452 103 0156</p>
        <p><i class="fa-solid fa-envelope"></i> Email: brendalagunas&#64;gmail.com</p>
        <p><i class="fa-solid fa-location-dot"></i> Calle Acapulco #11A, Colonia Morelos, Uruapan, Michoacán, CP 60050</p>
      </div>
  
    </div>
  
    <div class="footer-bottom">
      &copy; 2026 LN Brenda Lagunas - Todos los derechos reservados.
    </div>
  </footer>